html {
	background-color: #4040a1;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

p {
  color: #FFFFFF;
  font-size: 20px;
  width: 600px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 50px 10px 5px 0px;
}

h1 {
	color: #FFFFFF;
	font-size: 60px;
	text-align: center;
}
ul, li {
	font-size: 15px;
	color: #FFFFFF;
	line-height: 2;
  	letter-spacing: 1px;
  	background-color: #618685;
}

.quote {
	color: #FFFFFF;
	font-size: 30px;
}

body {
	width: 600px;
	margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  size: 80px 50px;
}
